html,
body {
	margin: 0;
	padding: 0;
}
div#content {
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	width: 960px;
}
div#content img {
	-webkit-box-shadow: 0 0 8px 2px #CCCCCC;
	box-shadow: 0 0 8px 2px #CCCCCC;
}
